{% extends "base_generic.html" %}

{% block content %}

{% if form.errors %}
<p>Ваш логин или пароль, не опознаны. Попытайтесь еще.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Ваш акаунт не имеет доступа к этой сранице. <br>Для продолжения, авторизируйтесь здесь.</p>
    {% else %}
    <p>Авторизируйтесь, чтобы начать работу в <b>АСУ FSMR.</b></p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="Войти" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}
